<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#page-top"></a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
      data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
      aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">About</a></li>
        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#projects">Projects</a></li>
        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#signup">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- Masthead-->
<header class="masthead">
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
      <h1 class="mx-auto my-0 text-uppercase">Red de bicicletas</h1>
      <h2 class="text-white-50 mx-auto mt-2 mb-5">
        Comunidad de bicicletas
      </h2>
      <a class="btn btn-primary js-scroll-trigger" href="#about">Get Started</a>
    </div>
  </div>
</header>
<!-- Projects-->
<section class="projects-section bg-light" id="projects">
  <div class="container">
    <div class="main-map">
      <div id="mapid"></div>
    </div>
  </div>
</section>
</section>

<script src="/js/map.js"></script>