<block class="content">
  <h1 class="mt-10">Edit bicycle</h1>
  <a href="/bicycles">Back</a>
  <form action="/bicycles/{{bicycle.id}}/update" class="row justify-content-center" method="POST">
    <div class="form-group col-md-4">
      <label for="id">ID</label>
      <input class="form-control" type="text" id="id" value="{{bicycle.id}}" name="id">
    </div>
    <div class="form-group col-md-4">
      <label for="model">Model</label>
      <input class="form-control" type="text" id="model" value="{{bicycle.model}}" name="model">
    </div>
    <div class="form-group col-md-4">
      <label for="color">Color</label>
      <input class="form-control" type="text" id="color" value="{{bicycle.color}}" name="color">
    </div>
    <div class="form-group col-md-4">
      <label for="latitude">Latitud</label>
      <input class="form-control" type="text" id="latitude" value="{{bicycle.location.[0]}}" name="lat">
    </div>
    <div class="form-group col-md-4">
      <label for="longitude">Longitud</label>
      <input class="form-control" type="text" id="longitude"  value="{{bicycle.location.[1]}}" name="lng">
    </div>
    <div class="col-md-3 m-auto">
      <input class="btn btn-secondary btn-block" type="submit" value="Guardar">
    </div>
  </form>
</block>
