<block class="content">
  <h1 class="mt-10">New bicycle</h1>
  <a href="/bicycles">Back</a>
  <form action="/bicycles/create" class="row justify-content-center" method="POST">
    <div class="form-group col-md-4">
      <label for="id">ID</label>
      <input class="form-control" type="text" id="id" name="id">
    </div>
    <div class="form-group col-md-4">
      <label for="model">Modelo</label>
      <input class="form-control" type="text" id="model" name="model">
    </div>
    <div class="form-group col-md-4">
      <label for="color">Color</label>
      <input class="form-control" type="text" id="color" name="color">
    </div>
    <div class="form-group col-md-6">
      <label for="latitude">Latitud</label>
      <input class="form-control" type="text" id="latitude" name="lat">
    </div>
    <div class="form-group col-md-6">
      <label for="longitude">Longitud</label>
      <input class="form-control" type="text" id="longitude" name="lng">
    </div>
    <div class="col-md-3 m-auto">
      <input class="btn btn-primary btn-block" type="submit" value="guardar">
    </div>
  </form>
</block>
